<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas {{mainIconMenu}}"></i>
        </div>
        <div class="sidebar-brand-text mx-3">{{titleMenu}} <sup>{{subtitleMenu}}</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Custom Nav Item - Pages Collapse Menu -->
    <li routerLinkActive="active" class="nav-item" *ngFor="let item of sidebarItems; let i = index">

        <a *ngIf="item.items.length == 0" class="nav-link" [routerLink]="item.route">
            <i class="fas fa-fw {{item.icon}}"></i>
            <span>{{item.title}}</span>
        </a>
    </li>
    <!-- /custom nav item - pages collapse menu -->


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>